!-------------------------------------------------------------------------------
! Colourscheme
!-------------------------------------------------------------------------------
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15: S_base3
!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.antialias:  true
Xft.dpi:        227
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault
Xcursor.size:   16
Xcursor.theme:  Adwaita

!-------------------------------------------------------------------------------
! xterm settings
!-------------------------------------------------------------------------------
XTerm.vt100.faceName: Hack:size=12:antialias=true
XTerm.vt100.font: 7x13
XTerm*loginShell: true
XTerm*vt100*geometry: 80x50
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

! {{{ Quick Reference
!
! Scrolling:
!   Scroll Wheel
!   Shift-PgUp/PgDn
!
! Copy/Paste:
!   Mouse-Select        : Copy to PRIMARY
!   Shift + Mouse-Select: Copy to CLIPBOARD
!
!   Middle-Click        : Paste from PRIMARY
!   Shift + Middle-Click: Paste from CLIPBOARD
!
!   Ctrl+Shift+V        : Paste from CLIPBOARD
!   Ctrl+Alt+Shift+V    : Paste from PRIMARY
!
! }}}
*VT100.Translations: #override \
                    Shift <Key>Up:              scroll-back(1) \n\
                    Shift <Key>Down:            scroll-forw(1) \n\
                    ~Meta Shift Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
                    ~Shift <Btn1Up>:            select-end(CLIPBOARD, CUT_BUFFER1) \n\
		    ~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)			  
XTerm.vt100.saveLines: 4096
XTerm*utf8: 1
XTerm*selectToClipboard: true

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

URxvt.transparent: false
! URxvt.tintColor: #002B36
! 0 to 99 darkens, 101 to 200 lightens
! URxvt*.shading: 100
URxvt.loginShell: true
URxvt.saveLines: 10000
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! Fonts
URxvt.allow_bold: true
URxvt.font:         xft:Hack-Regular:pixelsize=28
URxvt.boldFont:     xft:Hack-Bold:pixelsize=28:weight=bold
URxvt.italicFont:   xft:Hack-RegularOblique:pixelsize=28:slant=italic
! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollBar: false
!do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Cursor
URxvt.cursorBlink: true
URxvt.cursorUnderline: false



!-------------------------------------------------------------------------------
! Rofi (application launcher)
!-------------------------------------------------------------------------------

! rofi.font:                  Fira Code 12 
! rofi.dpi:                   192 
! rofi.lines:                 8 
! rofi.width:                 16 
! rofi.opacity:               100 
! rofi.fake-transparency:     false
! rofi.bw:                    4
rofi.disable-history:       false
rofi.case-sensitive:        false
! Set lazy filter limit
rofi.lazy-filter-limit:     15000
! Row height (in chars)
rofi.eh:                    1
! Do a more fuzzy matching
rofi.fuzzy:                 false
! Use glob matching
rofi.glob:                  false
! Margin between rows
rofi.line-margin:           2

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Separator style (none, dash, solid)
rofi.separator-style:                solid

rofi.color-normal:                   #002B36,#EEE8D5,#002B36,#268BD2,#002B36
! Color scheme for urgent row
rofi.color-urgent:                   #002B36,#DC322F,#002B36,#268BD2,#DC322F
! Color scheme for active row
rofi.color-active:                   #002B36,#FDF6E3,#002B36,#268BD2,#FDF6E3
! Color scheme window
! background border color separator color/
rofi.color-window:                   #002B36,#002B36

